

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	padding-top: 0;
	background: #fefefe;
}

.navbar-brand img,
.navbar-brand h1  {
	display: inline-block;
}

.navbar-brand h1 {
	font-family: 'PT Sans', sans-serif;
	font-weight:700;
	font-size:2.4em;
	color:#fff;
}

.songContainer td a {
	display:block;
    height:100%;
    width:100%;
}


.playingSong {
	padding:20px;
	margin-bottom:30px;
	/*border: 1px solid #ddd;*/
}

#songs ul {
	list-style-type: none;
	border-bottom: 1px solid #eee;
	padding:10px;
}

#songs ul li {
	display: inline-block;
	width: 200px;
}

#songs .panel-body {
	border: 1px solid #eee;
}





