

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



.songContainer td a {
	display:block;
    height:100%;
    width:100%;
}


.playingSong {
	padding:20px;
	margin-bottom:30px;
	/*border: 1px solid #ddd;*/
}










